* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    height: 100%;
    background-color: white;
    background-image: url(Images/Background\ Image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-image: linear-gradient(to bottom right, ghostwhite, lavender);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    box-shadow: 0px 2px 5px lightgray;
}

.navbar-title {
    padding-left: 20px;
    padding-right: 20px;
}

a {
    padding: 20px;
    color: black;
    text-decoration: none;
}

a:hover {
    color: darkslategray;
}

section {
    max-width: 800px;
    margin: 100px auto 100px;
}

.email i {
    float: right;
    margin-top: -55px;
    margin-right: 20px;
    position: relative;
}


.password i {
    float: right;
    margin-top: -55px;
    margin-right: 20px;
    position: relative;
}

input {
    width: 100%;
    margin: 20px 0;
    padding: 20px 20px;
    border: 2px solid lavender;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightgrey;
}

textarea {
    width: 100%;
    margin: 20px 0;
    padding: 20px 20px;
    border: 2px solid lavender;
    border-radius: 10px;
    box-shadow: 0 2px 5px lightgrey;
}

button {
    margin: 5px 5px;
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    background-color: #04AA6D;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    color: darkslategray;
}
